<p>
  <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %>
</p>

<table class="data-table">
  <tbody>
    <tr>
      <th>Role</th>
      <td><%= @user.roles.join(', ') %></td>
    </tr>
  </tbody>
</table>