<table class="data-table">
  <thead>
    <tr>
      <th>Setting</th>
      <th>Value</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @settings.each do |setting| %>
      <tr>
        <td><%= setting.setting_key %></td>
        <td class="wrappable"><%= setting.setting_value %></td>
        <td>
          <%= link_to 'Edit', edit_setting_path(setting) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render_pagy %>
