#add-item-to-container-scanner, #add-item-to-container-scanner input {
  font-size: 48px;
}

#add-item-to-container-scanner .form-group {
  text-align: center;
}

#add-item-to-container-scanner {
  position: fixed;
  top: 20vh;
  width: 100%;
}

#add-item-to-container-scanner #results-area {
  margin-top: 5vh;
  text-align: center;
  padding: 20px;
}
#add-item-to-container-scanner .results-area-failure {
  background-color: red;
}
#add-item-to-container-scanner .results-area-success {
  background-color: green;
}

#add-item-to-container-contents {
  position: fixed;
  bottom: 0;
  height: 40vh;
  width: 100%;
  overflow: auto;
}