body.add-item-to-container {
  display: flex;
  flex-direction: column;
  margin: 8px 8px 0 8px;
  height: calc(100vh - 8px);
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }
}

#add-item-to-container-scanner, #add-item-to-container-scanner input {
  font-size: 48px;
}

#add-item-to-container-scanner #results-area {
  padding: 20px 20px 20px 8px;
  margin: 10px -8px 10px -8px;
  height: 60px;
}
#add-item-to-container-scanner .results-area-failure {
  background-color: red;
}
#add-item-to-container-scanner .results-area-success {
  background-color: green;
}

#add-item-to-container-contents {
  overflow: auto;
}