/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

a:visited {
  color: blue;
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.3em;
}

.saved-data-error {
  background-color: #ffdddd;
  border: 2px solid red;
  border-radius: 5px;
  padding: 0 2px;
  font-size: 0.9em;
}

.validation-error {
  background-color: #ffdddd;
  border: 2px solid red;
  border-radius: 5px;
  margin: 1em 0;
  padding: 1em;
}

.manual-type.not-needed {
  opacity: 0.5;
}