/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.data-table th, .data-table td {
  padding: 0 8px;
  text-align: left;
}

.data-table th:first-child, .data-table td:first-child {
  padding-left: 0;
}
.data-table th:last-child, .data-table td:last-child {
  padding-right: 0;
}

.data-table .numeric {
   text-align: right;
}

.data-table tbody th {
  text-align: left;
  font-weight: bold;
}
