.barcode-ready, .barcode-not-ready, .barcode-entered-not-ready {
  display: none;
  font-weight: bold;
}
.barcode-ready, .barcode-entered-not-ready {
    color: green;
}
.barcode-not-ready {
    color: red;
}
input:focus ~ .barcode-ready {
  display: block;
}
input:invalid:not(:focus) ~ .barcode-not-ready {
  display: block;
}
input:valid:not(:focus) ~ .barcode-entered-not-ready {
 display: block; 
}