.data-table {
  /* Spacing messes up hover on trs */
  border-spacing: 0;

  caption {
    text-align: left;
    font-weight: bold;
    padding: 0.75em 0.5em;
    margin-left: -0.5em;
    margin-right: -0.5em;
    background-color:rgb(255, 255, 189)
  }

  .action-column {
    padding: 0 0 0 4px;

    a {
      text-decoration: none;
      color: black;
    }
  }
}
.data-table th, .data-table td {
  padding: 1px 8px;
  text-align: left;
  vertical-align: top;
}

.data-table th:first-child, .data-table td:first-child {
  padding-left: 0;
}
.data-table th:last-child, .data-table td:last-child {
  padding-right: 0;
}

.data-table .numeric {
   text-align: right;
}
.data-table .wrappable {
  white-space: pre-wrap;
}

.data-table tbody th {
  text-align: left;
  font-weight: bold;
}

.data-table tr.highlight {
  transition: background-color 1s linear;
}
.data-table tr.highlight-active {
  background-color: rgb(255, 255, 189);
}
.data-table tbody tr:hover {
  background-color: rgb(255, 255, 99);
}
.pagy.info {
  display: inline;
  font-size: medium;
}
.pagination {
  margin-top: 1em;
}

@media print {
  .data-table {
    font-size: smaller;
  }
  .action-column {
    display: none;
  }
}