.filter-control {
  position: relative;

  .filter-detail {
    display: none;
    position: absolute;
    left: 0;
    top: 15px;
    padding: 1em;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 10;
  }

  .filter-toggle {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 16px;
    text-align: center;
    border-radius: 9px;
    color: black;
    background-color: #DDD;
  }
}

.filter-control-open .filter-detail {
  display: block;
}

.filter-control-active .filter-toggle {
  color: white;
  background-color: black;
}

.filter-apply, a.filter-clear {
  background-color :white;
  text-decoration: none;
  padding: 0 5px;
  border: 1px solid gray;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 16px;
  margin: 0 2px;
  height: 20px;
  box-sizing: content-box;
  display: inline-block;
  vertical-align: bottom;
  font-weight: bold;
}

@media print {
  .filter-control {
    display: none !important;
  }
}