.form-group + .form-group, .form-group + .form-actions {
  margin-top: 1em;
}

.form-group label:not(.radio-label):not(.checkbox-label) {
  font-weight: bold;
  vertical-align: top;
  min-width: 200px;
  display: inline-block;
}

.form-group textarea {
  width: 400px;
  height: 56px;
}
