.home-panel {
  display: inline-block;
  border: 2px solid green;
  border-radius: 5px;
  margin: 10px;
  vertical-align: top;
  padding: 0 20px 5px 20px;
}
.home-panel h2 {
  background-color: green;
  color: white;
  margin: 0 -20px auto -20px;
  padding: 0 20px 0 20px;
}