body.inventory-entry {
  display: flex;
  flex-direction: column;
  margin: 8px 8px 0 8px;
  height: calc(100vh - 8px);
}
body.inventory-entry .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}
#inventory-review-area {
  flex: 1;
  display: flex;
  overflow: auto;
  h2 {
    margin-top: 0;
  }
}
#inventory-entry-area {
  margin-bottom: 16px;
}
#inventory-entry-area, #inventory-review-area .data-table {
  font-size: 20px;
  select, input {
    font-size: 20px;
  }
}